@font-face {
	font-family: 'Lato';
	src: local('LatoRegular'), local('Lato-Regular'),
	url('../fonts/Lato-Regular.woff') format('woff');
	font-style: normal;
	font-display: swap;
	font-weight: 400;
}

html {
	box-sizing: border-box;
}

*,*::after,*::before {
	box-sizing: inherit;
}

:root {
	--color-white: #fff;
	--cornflower-blue: #6195ed;
}

body {
	font-family: 'Lato', sans-serif;
	margin: 0;
	padding: 0;
	background-color: var(--cornflower-blue);
}

.container {
	max-width: 1226px;
	margin: 0 auto;
	padding: 0 15px;
}

 .btn-reset {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	background-color: transparent;
	opacity: 0.6;
	color: var(--color-white);
	cursor: pointer;
 }